.textInput {
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 2px solid grey;
}

.searchInput {
  background: url("/src/assets/search.png") no-repeat center center;
  padding: 10px 20px 10px 20px;
  border: none
}

